{
  "host": "us-bos-web1616.main-hosting.eu",
  "port": 65002,
  "username": "u996867598",
  "remote_base": "/home/u996867598/public_html",
  "ssh_key_path": "~/.ssh/id_rsa",
  "ssh_password": null
}

