/*--------------------------------------------------------------
  Cards
--------------------------------------------------------------*/
.news-card {
  background-color: $color-dark-grey;
  padding: $spacing-md;
  border-radius: 8px;
  @include box-shadow($box-shadow-light);
  @include transition(transform 0.3s ease, box-shadow 0.3s ease);

  &:hover,
  &:focus-within {
    transform: translateY(-5px);
    @include box-shadow($box-shadow-hover);
  }

  &__title {
    font-size: 1.2rem;
    margin-bottom: $spacing-xs;
    color: $color-text-base;

    a {
      color: $color-accent;
      text-decoration: none;
      @include transition(color 0.2s ease-in-out);

      &:hover,
      &:focus {
        color: $color-nav-hover-bg;
      }
    }
  }

  &__description {
    color: $color-text-muted;
    line-height: 1.6;
    font-size: 0.9rem;
  }
}
