/*--------------------------------------------------------------
  Grid System
--------------------------------------------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: $spacing-md;
}

.grid-item {
  background-color: $color-dark-grey;
  padding: $spacing-sm;
  border-radius: 8px;
  @include box-shadow($box-shadow-light);
  @include transition(transform 0.3s ease, box-shadow 0.3s ease);

  &:hover,
  &:focus-within {
    transform: translateY(-5px);
    @include box-shadow($box-shadow-hover);
  }
}
