/*--------------------------------------------------------------
  Footer
--------------------------------------------------------------*/
.footer {
  background-color: $color-dark-grey;
  padding: $spacing-sm;
  text-align: center;
  color: $color-text-muted;
  // Additional footer styles
}
