/*--------------------------------------------------------------
  Header
--------------------------------------------------------------*/
.header {
  background-color: $color-dark-grey;
  padding: $spacing-sm;
  // Additional header styles
}
