/*--------------------------------------------------------------
  2. Mixins
--------------------------------------------------------------*/
@mixin transition($properties...) {
  transition: $properties;
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
