/*--------------------------------------------------------------
  Modals
--------------------------------------------------------------*/
/* Example modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__content {
    background-color: $color-dark-bg;
    padding: $spacing-md;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    @include box-shadow($box-shadow-light);
  }

  &__close {
    position: absolute;
    top: $spacing-xs;
    right: $spacing-xs;
    background: none;
    border: none;
    color: $color-text-base;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
